{% extends "base.html" %}
{% block content %}
    <h2 class="mt-4">Device List</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>IP Address</th>
                <th>Hostname</th>
                <th>Vendor</th>
            </tr>
        {% for device in devices %}    
            <tr>
                <td>{{ device.ip_address }}</td>
                <td>{{ device.hostname }}</td>
                <td>{{ device.vendor }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            
{% endblock content %}