{% extends 'base.html' %}

{% block content %}
<div class="mt-5 card-deck" style="margin:auto;">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-body text-primary">
        <h5 class="card-title">{{ all_device }}</h5>
        <div class="mr-3 text-right" style="font-size: 36px;">
            <i class="fa fa-list fa-lg"></i>
        </div>
        </div>
        <div class="card-footer bg-primary border-primary text-white">Total Devices</div>
    </div>

    <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-body text-success">
        <h5 class="card-title">{{ cisco_device }}</h5>
        <div class="mr-3 text-right" style="font-size: 36px;">
            <i class="fa fa-hdd-o fa-lg"></i>
        </div>
        </div>
        <div class="card-footer bg-success border-success text-white">Cisco Devices</div>
    </div>    
    
    <div class="card border-danger mb-3" style="max-width: 18rem;">
        <div class="card-body text-danger">
        <h5 class="card-title">{{ mikrotik_device }}</h5>
        <div class="mr-3 text-right" style="font-size: 36px;">
            <i class="fa fa-list fa-lg"></i>
        </div>
        </div>
        <div class="card-footer bg-danger border-danger text-white">Mikrotik Devices</div>
    </div>
</div>

<h3 class="mt-4">Last Event</h3>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Target Device</th>
            <th>Action</th>
            <th>Status</th>
            <th>Time Done</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>192.168.1.1</td>
            <td>Configure</td>
            <td>Success</td>
            <td>21 Maret 2019, 19:22</td>
        </tr>
        

    </tbody>
</table>
{% endblock content %}